/*
 *    |-o-| tie-fighter indicates sticky footer solution. do not touch.
 */

// Imports
@import 'colors';
@import 'utility';

// Never a time when you want a shit hr
hr {
    height: 1px;
}

html {
    position: relative; // |-o-| pew pew
    min-height: 100%; // |-o-| pew pew
}

body {
    margin: 0 0 50px // |-o-| pew pew
}

#navigation {
    background: $lead;
    .container {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

#profile_picture {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#profile_header {
    margin-bottom: 0px;
    display: inline-block;
    #profile_header_sub: {
        margin-top: 0px;
    }
}

#profile_header_sub {
    margin-left: -2px;
}

#content {
}

#footer {
    width: 100%;
    position: absolute; // |-o-| pew pew
    height: 50px; // |-o-| pew pew
    left: 0; // |-o-| pew pew
    bottom: 0; // |-o-| pew pew    
}

#profile_footer {
    margin-top: 5px;
}

#profile_footer_main {
    margin: 0;
}

#profile_footer_sub {
    padding-left: 2px;
    margin: 0 5px 0 0;
}
