@import 'colors';

.font-primary {
    font-family: "Raleway", sans-serif;
}

.font-color-inverted {
    color: #FFF;
}

.font-color-ink {
    color: $ink;
}

.font-color-wrench {
    color: $wrench;
}

.font-small {
    font-size: 0.5em;
}

.font-micro {
    font-size: 0.25em;
}

.link-hover-ink {
    &:hover { 
        text-decoration: none;
        color: $ink;
    }
}
