<footer id="footer">
    <div class="container">
        <center id="profile_footer" class="font-inverted font-primary">
            <h3 id="profile_footer_main">Reboot Roberto
                <a class="font-inverted link-hover-ink" href="//github.com/manufacturedba/reboot_roberto" title="Github Project">
                    <i class="fa fa-github"></i>
                </a>
                <a class="font-inverted link-hover-ink" href="//www.giveforward.com/fundraiser/hzk5/reboot-roberto" title="Donate at Giveforward">
                    <i class="fa fa-heart-o"></i>
                </a>
            </h3>
            <h5 id="profile_footer_sub">powered by Django and Zinnia</h5>
        </center>
    </div>
</footer>
