<footer id="footer">
    <div class="container">
        <center id="profile_footer" class="">
            <h3 id="profile_footer_main">Reboot Roberto
                <a class="font-color-wrench link-hover-ink" href="//github.com/manufacturedba/reboot_roberto" title="Github Project">
                    <i class="icon-github"></i>
                </a>
                <a class="font-color-wrench link-hover-ink" href="//www.giveforward.com/fundraiser/hzk5/reboot-roberto" title="Donate at Giveforward">
                    <i class="icon-heart-empty"></i>
                </a>
            </h3>
            <h5 id="profile_footer_sub">powered by Django and Zinnia</h5>
        </center>
    </div>
</footer>
