<nav id="navigation" class="navbar navbar-default font-color-inverted font-primary" role="navigation">
    <a class="link-no-style" data-ng-href="/">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-profile">
                <div class="col-md-3">
                    <img id="profile_picture" src="{{ STATIC_URL }}img/roberto.jpeg"></img>
                </div>
                <div id="profile_header" class="col-md-9">
                    <h1>Reboot Roberto</h1>
                    <h4 id="profile_header_sub">Thoughts on a Journey Through Leukemia</h4>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
    </a>
</nav>
