<!DOCTYPE html>
{% load i18n %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" data-ng-app="rebootRoberto"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" data-ng-app="rebootRoberto"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" data-ng-app="rebootRoberto"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" data-ng-app="rebootRoberto"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>Reboot Roberto</title>
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta name="author" content="{% block meta_author %}{% endblock %}" />
        <meta name="viewport" content="width=device-width" />
        {% block meta %}
            <meta property="og:title" content="{{ meta.title }}" />
            <meta property="og:type" content="article" />
            <meta property="og:url" content="http://rebootroberto.com/entry/{{ meta.slug }}" />
            <meta property="og:image" content="https://rebootroberto.s3.amazonaws.com/img/roberto.jpeg" />
            <meta property="og:description" content="Thoughts on a Journey Through Leukemia" />
            <meta property="article:published_time" content="{{ meta.creation_date }}" />
        {% endblock %}
        <base href="/">
        <link rel="stylesheet" href="{{ STATIC_URL }}vendor/bootstrap/css/bootstrap.min.css" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
        {% block css %}{% endblock %}
        
        <script src="{{ STATIC_URL }}vendor/modernizer/js/modernizr-2.6.2.min.js"></script>
    </head>

    <body class="{% block body_class %}{% endblock %}" data-ng-controller="utilityCtrl as utility">
    {% block body %}
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        {% include 'panels/navigation.html' %}
        <div id="content" class="container" data-ng-view>
        </div>
        {% include 'panels/footer.html' %}
        {% block javascript_library %}
        <script src="{{ STATIC_URL }}js/plugins.js"></script>
        <script src="{{ STATIC_URL }}js/main.js"></script>
        <script src="{{ STATIC_URL }}vendor/underscore/js/underscore-min.js"></script>
        <script src="{{ STATIC_URL }}vendor/angular/js/angular.min.js"></script>
        <script src="{{ STATIC_URL }}vendor/angular/js/angular-route.min.js"></script>
            {% block angular_library %}
                <script src="{{ STATIC_URL }}js/app.js"></script>
                <script src="{{ STATIC_URL }}js/controllers/utilityCtrl.js"></script>
                <script src="{{ STATIC_URL }}js/controllers/indexCtrl.js"></script>
                <script src="{{ STATIC_URL }}js/controllers/entryCtrl.js"></script>
                <script src="{{ STATIC_URL }}js/services/blogSrvc.js"></script>
                {% block angular_library_templates %}
                    {% include 'partials/index.html' %}
                    {% include 'partials/entry.html' %}
                {% endblock %}
            {% endblock %}
        {% endblock javascript_library %}
        
        {% block javascript %}
        {% endblock javascript %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-34422045-4', 'auto');
            ga('send', 'pageview');
        </script>
    {% endblock body %}
    </body>
</html>
