.font-primary { font-family: "Raleway", sans-serif; }

.font-color-inverted { color: #FFF; }

.font-color-ink { color: #333333; }

.font-color-wrench { color: #4b5b6e; }
.font-color-wrench:disabled, .font-color-wrench:hover:disabled { color: graytext; }

.font-small { font-size: 0.5em; }

.font-micro { font-size: 0.25em; }

.link-hover-ink:hover { text-decoration: none; color: #333333; }

.link-no-style { color: inherit; }
.link-no-style:hover { color: #FFF; text-decoration: none; }

.btn-no-style { background: inherit; border: none; }
