{% load zinnia_tags %}

<script id="partials/index.html" type="text/ng-template">
    {% verbatim %}
        <div data-ng-repeat="entry in blog.entries | startAt:page*entriesToShow | limitTo:entriesToShow">
            <h2>
                <a class="font-color-wrench link-hover-ink" data-ng-href="entry/{{ entry.slug }}">
                    {{ entry.title }}
                </a>
                <span class="font-small">
                    written on {{ entry.creation_date | date: 'short' }}
                </span>
            </h2>
            <div ng-bind-html="utility.trustAsHtml(utility.limitTo(entry.content, 725))">
            </div>
            <center data-ng-show="entry.content.length > 725">
                <a class="font-color-wrench link-hover-ink" data-ng-href="entry/{{ entry.slug }}">
                <i class="icon-ellipsis-horizontal icon-3x"></i>
                </a>
            </center>
            <hr />
        </div>
        <center>
            <button class="btn-no-style font-color-wrench link-hover-ink pull-left" data-ng-disabled="page == 0" data-ng-click="page = page - 1">
                <i class="icon-arrow-left icon-3x"></i>
            </button>
            <button class="btn-no-style font-color-wrench link-hover-ink pull-right" data-ng-disabled="page == numberOfPages() - 1" data-ng-click="page = page + 1">
                <i class="icon-arrow-right icon-3x"></i>
            </button>
        </center>
    {% endverbatim %}
</script>
