<nav id="navigation" class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-profile">
                <div class="col-md-3">
                    <img id="profile_picture" src="{{ STATIC_URL }}img/roberto.jpg"></img>
                </div>
                <div id="profile_header" class="col-md-9">
                    <h1>Reboot Roberto</h1>
                    <h4 id="profile_header_sub">My Personal Fight Through Leukemia</h4>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</nav>
